.components-docking-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.components-docking-container > * {
  margin: 10px;
}

.separator {
  height: 1px;
  width: 100%;
  border: 1px solid black;
}

